/*
.nkd :deep(.v-field__input) {
    padding: 0 !important;
    min-height: auto !important;
}
.nkd :deep(.v-field) {
    padding: 0 !important;
    align-items: center !important;
    background-color: transparent !important;
}
.nkd :deep(.v-field__append-inner) {
    padding: 0 !important;
}
*/
.nkd > .v-input__control > .v-field > .v-field__field > .v-field__input {
    padding: 0 !important;
    min-height: auto !important;
}
.nkd > .v-input__control > .v-field {
    padding: 0 !important;
    align-items: center !important;
    background-color: transparent !important;
}
.nkd > .v-input__control > .v-field > .v-field__append-inner {
    padding: 0 !important;
}

.themepicker__swatch {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffffff;
}